<a href="https://colab.research.google.com/github/The-Ineffable-Alias/DH_PythonLibraries_JupyterNotebooks/blob/master/prototype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [22]:
#i've used mainly BERTopic https://maartengr.github.io/BERTopic/index.html. it's based on deep learning
# but it's pretty accessible. i'll sum up most of what i gathered from it soon.

#this is what i've been talking about for the past month or so. i guess it'll ring a bell or two.
# still i'll present it more properly sooner than later ofc. it ended up being much simpler than it seemed
# at the beginning

# this was done trough topic modeling (basically clustering from semantic similarity)
# two of the main purposes are to check how much the need for hand-labelling can be reduced (not expecting to replace it altogether though) 
# and make a chaotic dataset much easier to explore
# tomorrow i'll post more
# since the client is fine with us changing the labels i did so in a few cases to help
# with semantic similarity (which may turn out to be quite helpful with nlp classification algorithms)  
# the results should not be expected to match what a person with domain-knowledge would obtain ofc
# still they may be close enough and  better enough than plenty of no labels. that's what i aim to find out.
# i'm using only a set (that is, unique values) made from a column because another of my goals
# is to check how much can be done with as little data as can be without sacrificing an overall view
# 


art_culture_media = pd.read_csv('/content/designer_monitor_editor_animacao_448.csv')

specialists_in_economic_subjects = pd.read_csv('/content/contabilidade_auditor_orcamentista_financas_583.csv')

In [13]:
specialists_in_economic_subjects['professional_category'] = "specialists in economic subjects"

In [18]:
specialists_in_economic_subjects.head(50)

,topic,document,professional_category
0,5,Analista de Fraude,specialists in economic subjects
1,5,Executivo de contas,specialists in economic subjects
2,5,Assistente de Contabilidade,specialists in economic subjects
3,5,técnica de contabilidade,specialists in economic subjects
4,5,Gestor de contacto bancário,specialists in economic subjects
5,5,Diretora financeira,specialists in economic subjects
6,5,DIRECTORA FINANC,specialists in economic subjects
7,5,Estagiária bancária,specialists in economic subjects
8,5,Pagador de Banca,specialists in economic subjects
9,5,"Contabilista, auditor, revisor oficial de cont...",specialists in economic subjects
10,5,Medidor Orçamentista I,specialists in economic subjects
11,5,Pencionista,specialists in economic subjects
12,5,ECONOMISTA,specialists in economic subjects
13,5,Senior Finance Analyst,specialists in economic subjects
14,5,Tecnico Superior Gestão Fundos Comunitários,specialists in economic subjects
15,5,TAX ASSISTANT,specialists in economic subjects
16,5,Tecnico de Administração Tributaria-adjunta,specialists in economic subjects
17,5,Finance Manager – Supply Projects,specialists in economic subjects
18,5,Professor Manager Finances,specialists in economic subjects
19,5,Recuperação de crédito,specialists in economic subjects
20,5,Administrativa Bancária,specialists in economic subjects
21,5,Sócia-gerente - contabilidade,specialists in economic subjects
22,5,Supervisor/a do Departamento de Reservas,specialists in economic subjects
23,5,Gestor Financeiro,specialists in economic subjects
24,5,Reformado da auditoria fiscal da receita federal,specialists in economic subjects
25,5,"Contabilista, auditor, revisor oficial de contas",specialists in economic subjects
26,5,Gestor de alto rendimento (Formador),specialists in economic subjects
27,5,Financial Manager,specialists in economic subjects
28,5,Consultor Fiscal,specialists in economic subjects
29,5,tecnico de cobrança,specialists in economic subjects
30,5,Executivo de Contas,specialists in economic subjects
31,5,Técnico Financeiro Júnior,specialists in economic subjects
32,5,Auditor Junior,specialists in economic subjects
33,5,Fiscal Municipal,specialists in economic subjects
34,5,Financeiro,specialists in economic subjects
35,5,DIRETOR FINANCEIRO,specialists in economic subjects
36,5,Técnico de Contabilidade de 2º,specialists in economic subjects
37,5,Coord.Oper.- Profit Center Palmela,specialists in economic subjects
38,5,Fiscalização,specialists in economic subjects
39,5,Analista de Transações,specialists in economic subjects
40,5,Performance & Compensation Manager,specialists in economic subjects
41,5,Executiva de Contas (Sérior),specialists in economic subjects
42,5,Contabilista - Técnico Oficial de Contas,specialists in economic subjects
43,5,Funcionária Bancária,specialists in economic subjects
44,5,Operador de contabilidade e escrituração comer...,specialists in economic subjects
45,5,Asset Management - P,specialists in economic subjects
46,5,Residual - Dep. Financeiro,specialists in economic subjects
47,5,Investment compliance and eligibility officer,specialists in economic subjects
48,5,Tecnica contas,specialists in economic subjects
49,5,Escriturário de Contabilidade,specialists in economic subjects

In [20]:
art_culture_media['professional_category'] = "art, culture and media"

art_culture_media.head(50)

,topic,document,professional_category
0,8,Assistente editorial,"art, culture and media"
1,8,ACT. TÉCN. PÓS-PRODUÇÃO P/ FILMES,"art, culture and media"
2,8,Desenhador Projetista I,"art, culture and media"
3,8,Tecnica Superior Museologia e Patrimonio,"art, culture and media"
4,8,Revistador,"art, culture and media"
5,8,Graphic Designer,"art, culture and media"
6,8,Realizador,"art, culture and media"
7,8,Decoradora,"art, culture and media"
8,8,Design gráfico,"art, culture and media"
9,8,EDITOR DE IMAGEM,"art, culture and media"
10,8,"PRODUÇÃO DE FILMES, DE VÍDEOS E DE PROGRAMAS D...","art, culture and media"
11,8,Animadora Sócio-Cultural,"art, culture and media"
12,8,Produtor de Filmes Publicitários,"art, culture and media"
13,8,Designer UX,"art, culture and media"
14,8,Controlador de Publicidade,"art, culture and media"
15,8,Técnico de Medição,"art, culture and media"
16,8,Experience Design Lead,"art, culture and media"
17,8,REDACTOR PUBLICITARIO (JUNIOR),"art, culture and media"
18,8,Suporte à monitorização,"art, culture and media"
19,8,CAD/CAM Specialist,"art, culture and media"
20,8,Impressor,"art, culture and media"
21,8,Atividades de Filmes e Vídeos,"art, culture and media"
22,8,Visual Design,"art, culture and media"
23,8,Serviço de estética,"art, culture and media"
24,8,Escriturária/Artista teatro cinema,"art, culture and media"
25,8,Diretor Comunicação e imagem,"art, culture and media"
26,8,MODELISTA,"art, culture and media"
27,8,Visualizadora,"art, culture and media"
28,8,Fotografa,"art, culture and media"
29,8,Display Manager,"art, culture and media"
30,8,Técnica Fotogramétrica,"art, culture and media"
31,8,REPÓRTER FOTOGRÁFICO,"art, culture and media"
32,8,Fotógrafo/Videografo,"art, culture and media"
33,8,Desenhador Grafico,"art, culture and media"
34,8,EDITOR PPV,"art, culture and media"
35,8,Designer gráfico,"art, culture and media"
36,8,Designer 3D,"art, culture and media"
37,8,Monitora de ATL,"art, culture and media"
38,8,ACTIVIDADES DOS SÍTIOS E MONUMENTOS HISTÓRICOS,"art, culture and media"
39,8,Monitor de Tenis,"art, culture and media"
40,8,Modelador,"art, culture and media"
41,8,Preparador de Pintura,"art, culture and media"
42,8,Diretora Creativa,"art, culture and media"
43,8,Diretor de Fotografia,"art, culture and media"
44,8,LEAD DESIGNER,"art, culture and media"
45,8,Técnico de Grafismo,"art, culture and media"
46,8,Documentalista,"art, culture and media"
47,8,DESIGNER GRAFICA,"art, culture and media"
48,8,Motion Graphic Designer,"art, culture and media"
49,8,Produtor de Televisao,"art, culture and media"

In [21]:
pd.concat([specialists_in_economic_subjects, art_culture_media ])

,topic,document,professional_category
0,5,Analista de Fraude,specialists in economic subjects
1,5,Executivo de contas,specialists in economic subjects
2,5,Assistente de Contabilidade,specialists in economic subjects
3,5,técnica de contabilidade,specialists in economic subjects
4,5,Gestor de contacto bancário,specialists in economic subjects
...,...,...,...
443,8,Cabeleireira - Televisão,"art, culture and media"
444,8,Desenhadora - Projetista,"art, culture and media"
445,8,Jornalista III Grupo - 1º Escalão,"art, culture and media"
446,8,Mixed Signal Design Engineer,"art, culture and media"
447,8,Multimédia,"art, culture and media"